.react-arrow-banner__parent {
  overflow: visible;
  position: relative;
  width: var(--ab-width);
  z-index: 3;

  --ab-half-height: calc(var(--ab-height) / 2);

  --ab-offset: calc(var(--ab-skew-tan) * var(--ab-half-height) / 2);
  margin-right: -1px;
}

.react-arrow-banner__parent::before {
  --skew-ratio: 1;
}

.react-arrow-banner__parent::after {
  --skew-ratio: -1;
}

.react-arrow-banner__parent::before,
.react-arrow-banner__parent::after {
  position: relative;
  z-index: 1;

  display: block;
  content: '';
  width: 100%;

  height: var(--ab-half-height);
  background-color: var(--ab-bgcolor);

  transform: skewX(
    calc(var(--ab-skew-deg) * var(--ab-direction) * var(--skew-ratio, 0))
  );
}

.react-arrow-banner__children {
  position: absolute;
  z-index: 2;

  display: flex;
  align-items: center;

  top: 0;
  bottom: 0;

  /* position the wrapper exactly inside the rectangle */
  left: calc(var(--ab-offset) * var(--ab-left-stop));
  right: calc(var(--ab-offset) * var(--ab-right-stop));

  background-color: var(--ab-bgcolor);
  color: var(--ab-color);

  padding-left: 10px;
}
